svg[class^="fa d-icon d-icon-notification.custom_notification.register svg-icon svg-node"] {display:none;}
svg[class^="fa d-icon d-icon-notification.custom_notification.fipst_login svg-icon svg-node"] {display:none;}
div.notifications > ul > li > a > div > svg.d-icon-user-plus { display: inline-flex !important; }
div.notifications > ul > li > a > div > svg.d-icon-user { display: inline-flex !important; }
